<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>DataBridge</title>
<link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='jquery.dataTables.min.css')}}">        
<link rel="stylesheet"
      href="{{ url_for('static', filename='buttons.dataTables.min.css')}}">
</head>

<body>

    <div class="app-container">
        
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script>console.log("jquery loaded?", typeof jQuery);</script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename ='buttons.colVis.min.js')}}"></script>
        <aside class="sidebar">

         <div class="logo">
            <h2>DataBridge</h2>
            <small>Data Integration Platform</small>
        </div>

            <nav class="nav-menu">

                <a href="/" class="nav-link">
                    Dashboard
                </a>

                <a href="/flows" class="nav-link">
                    Flows
                </a>

                <a href="/connections/grid" class="nav-link">
                    Connections
                </a>

                <a href="/" class="nav-link">
                    Run History
                </a>

                <a href="/logs" class="nav-link">
                    Logs
                </a>

                <a href="/" class="nav-link">
                    Settings
                </a>

            </nav>

        </aside>

        <main class="content">

            {% block content %}
            {% endblock %}

        </main>

    </div>

</body>

</html>
