<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>DataBridge</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="app-container">

        <aside class="sidebar">

         >DataBridge</h2>
                <small>Data Integration Platform</small>
            </div>

            <nav class="nav-menu">

                <a href="/" class="nav-link">
                    Dashboard
                </a>

                <a href="/">
                    Flows
                </a>

                <a href="/">
                    Connections
                </a>

                <a href="/">
                    Run History
                </a>

                <a href="/logs" class="nav-link">
                    Logs
                </a>

                <a href="/">
                    Settings
                </a>

            </nav>

        </aside>

        <main class="content">

            {% block content %}
            {% endblock %}

        </main>

    </div>

</body>

</html>
