{% extends "base.html" %}

{% block content %}

<div class="title">

    <div>
        <h1>Add Connection</h1>
        <p>
            Configure a reusable DataBridge connection.
        </p>
    </div>

</div>

<form method="post" class="panel form">

    <div class="form-grid">

    <label>Connection Name</label>
    <input type="text" name="name">

    <label>Fetch Type</label>
    <select name="fetch_type">
        <option>REST</option>
        <option>QUEUE</option>
    </select>

    <label>Fetch Method</label>
    <select name="fetch_method">
        <option>GET</option>
        <option>POST</option>
    </select>

    <label>Endpoint</label>
    <input type="text" name="endpoint">

    <label>Authentication Endpoint</label>
    <input type="text" name="auth_endpoint">

    <label>Ack Endpoint</label>
    <input type="text" name="ack_endpoint">

    <label>Parameters (JSON)</label>
    <textarea rows="5" name="params"></textarea>

    <label>Request Body (JSON)</label>
    <textarea rows="5" name="body"></textarea>

</div>

    <div class="actions">

        <button
            type="submit"
            name="action"
            value="test"
            class="button">

            Test Connection

        </button>

        <button
            type="submit"
            name="action"
            value="save"
            class="button primary">

            Save Connection

        </button>

    </div>

</form>

{% endblock %}
