{% extends "base.html" %}

{% block content %}

<h1>Connections</h1>

<link rel="stylesheet"
      href="{{ url_for('static', filename='jquery.dataTables.min.css') }}">

<div class="panel">

    <table id="connectionsTable" class="display">
             <th>Name</th>
                <th>Fetch Type</th>
                <th>Method</th>
                <th>Verified</th>
            </tr>
        </thead>

        <tbody>

        {% for row in rows_data %}

            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.fetch_type }}</td>
                <td>{{ row.fetch_method }}</td>
                <td>{{ row.verified }}</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>


<script>

console.log("jQuery:", typeof $);

$(document).ready(function() {

    console.log("DataTables initialized");

    $('#connectionsTable').DataTable({
        pageLength: 10,
        searching: true,
        paging: true,
        ordering: true
    });

});

</script>

{% endblock %}
