{% extends "base.html" %}

{% block content %}

<div class="title">

    <div>
        <h1>Flows</h1>
        <p>
            Configure reusable source and destination connections.
        </p>
    </div>

    <a href="/flowsnew"
        class="button primary">
        + Add
    </a>

</div>

{% if flows %}

<div class="grid">

    {% for flow in flows %}

    <div class="card">

        <div class="row">

            <h2>
                {{ flow.name }}
            </h2>

            <span class="badge paused">
                {{ flow.type }}
            </span>

        </div>

        <p>
            {{ flow.description }}
        </p>

        <small>
            {{ flow.destination }}
        </small>

    </div>

    {% endfor %}

</div>

{% else %}

<div class="panel">

    <h2>No Flows Found</h2>

    <p>
        No flows have been configured yet.
    </p>


</div>

{% endif %}

{% endblock %}
